
<%# **********ヘッダー************** %>
<div class='main_header'>
  <div class='room_name'>
    hoge
  </div>
  <a class='chat_exit_button' href='#'>
    チャットを終了する
  </a>
</div>

<%# **********メインコンテンツ ***************** %>
<div class='main_cont'>
  <div class='message'>
    <div class='mes_header'>
      <div class='mes_name'>
        Tom
      </div>
      <div class='mes_date'>
        2002/112
      </div>
    </div>
    <div class='mes_cont'>
      ohayou
    </div>
  </div>

   <div class='message'>
    <div class='mes_header'>
      <div class='mes_name'>
        Tom
      </div>
      <div class='mes_date'>
        2002/112
      </div>
    </div>
    <div class='mes_cont'>
      ohayou
    </div>
  </div>

   <div class='message'>
    <div class='mes_header'>
      <div class='mes_name'>
        Tom
      </div>
      <div class='mes_date'>
        2002/112
      </div>
    </div>
    <div class='mes_cont'>
      ohayou
    </div>
  </div>

   <div class='message'>
    <div class='mes_header'>
      <div class='mes_name'>
        Tom
      </div>
      <div class='mes_date'>
        2002/112
      </div>
    </div>
    <div class='mes_cont'>
      ohayou
    </div>
  </div>

   <div class='message'>
    <div class='mes_header'>
      <div class='mes_name'>
        Tom
      </div>
      <div class='mes_date'>
        2002/112
      </div>
    </div>
    <div class='mes_cont'>
      ohayou
    </div>
  </div>

   <div class='message'>
    <div class='mes_header'>
      <div class='mes_name'>
        Toms
      </div>
      <div class='mes_date'>
        2002/112
      </div>
    </div>
    <div class='mes_cont'>
      ohayou
    </div>
  </div>
</div>

<%# ＊＊＊＊＊＊＊＊＊フッター＊＊＊＊＊＊＊ %>
<div class='main_footter'>
  <form class='mes_form'>
    <div class='form_input'>
      <input type="text" placeholder="Type a message" class='name_form'>
        <label class="form_image">
          <span class="image_file">画像</span>
          <input type='file' class="hidden">
        </label>
    </div>
    <input type="submit" value="送信" class='send_form'>
  </form>
</div>