<div class='message'>
  <div class='mes_header'>
    <div class='mes_name'>
        <%= message.user.name %>
    </div>
    <div class='mes_date'>
        2002/112
    </div>
  </div>
  <div class='mes_cont'>
      <%= message.content %> 
  </div> 
</div> 
  