<div class='side_header'>
  <div class='left_name'>Tom</div>
  <div class='make_chat_button'>チャットを作成する</div>
</div>
<div class='chat_room'>
  <div class='room'>
    thchroom1
  </div>
  <div class='room'>
    thchroom1
  </div>
  <div class='room'>
    thchroom1
  </div>
  <div class='room'>
    thchroom1
  </div>
  <div class='room'>
    thchroom1
  </div>
  <div class='room'>
    thchroom1
  </div>
  <div class='room'>
    thchroom1
  </div>

  
</div>