<div class='side_header'>
  <div class='left_name'>
    <%= link_to 'Tom', edit_user_path(current_user.id) %>
  </div>
  <div class='make_chat_button'>
    <%= link_to 'チャットを作成する',  new_room_path %>
  </div>
</div>
<div class='chat_room'>
  <% @room.each do |room| %>
  <div class='room'>
    <%= room.name %>
  </div>
  <% end %>
  
</div>